
h1{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-variation-settings:
      "wdth" 90;
      text-align: center;
    color: #1e21cc;

    padding: 6rem;
}
.sub_titulo{
  text-align: center;
  margin-top: 2rem;
  padding: 5rem;
  
}