body{
    background: linear-gradient(#f9fafa, #4f63fc)
 }  
header{
    background: url(../FOTOS/embotelladora.jpg);
    height: 35rem;
    background-repeat: no-repeat;
   
    background-position: center center;
    
 }
 