//VARIABLES//
$color-azul:  #1414b3;
$color-blanco:  rgb(251, 251, 251) !important;
$color-negro: rgb(1, 2, 2);
$color-azul-oscuro: rgb(3, 75, 79);












@import "body";
@import "footer";
@import "titulos";
@import "navegador";
@import "producto";
@import "carrusel";
@import "mapa";
@import "formulario";
@import "mediaquere";
@import "parrafos";
@import "nosotros";
